.page3_index
{
    background-image: url("page5-9_back.jpg");
    background-repeat: no-repeat;
    background-size: 100% 90%; /* 이미지를 요소에 맞게 자동으로 크기 조정 */
    height: 65vh; /* 원하는 높이로 설정 */
}
.page3_index h9 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px; /* 원하는 크기로 설정합니다. */
  color: white;
  font-size: 50px;
  letter-spacing: 10px;
}
@media (min-device-width: 1920px) and (min-device-height: 1440px) {
  .page3_index h9  {
    font-size: 80px;
  }
}
@media (max-width: 767px) {
  .page3_index h9 {
    font-size: 25px;
    color: black;
  }
}
.page3_index h1{
    text-align: center;
    font-size: 60px;
}

  
.button-group3 {
  display: flex; /* 버튼 내부 요소들을 수평으로 정렬하기 위해 flexbox를 사용합니다. */
  align-items: center; /* 버튼 내부 요소들을 수직 방향으로 가운데로 정렬합니다. */
  justify-content: center; /* 버튼 내부 요소들을 수평 방향으로 가운데로 정렬합니다. */
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%; /* 좌측에서 50% 위치에 배치합니다. */
  transform: translateX(-50%); /* 좌표 기준을 가운데로 이동시킵니다. */
  z-index: 1;
}

.button-group3 button{
    margin-top: 7%;
    font-size: 25px;
    border: 0;
    width: 100%;
    padding: 20px 20px;
    background-color: transparent; /* 배경을 투명하게 설정 */
    transition: background-color 0.3s ease;
    color: white;
    display: flex; /* 텍스트를 가로로 배치하기 위해 flex로 설정 */
    justify-content: center; /* 가로 방향 가운데로 정렬 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}
@media (min-device-width: 1920px) and (min-device-height: 1440px) {
  .button-group3 {
    top: 51%; /* 원하는 위치로 버튼 위치를 수정합니다. */
  }
}
@media (max-width: 767px) {
  .button-group3 button {
    display: flex; /* 텍스트를 가로로 배치하기 위해 flex로 설정 */
    font-size: 20px; /* 작은 화면에 적합한 글꼴 크기로 조정합니다. */
    padding: 10px 0px; /* 적절한 여백 값으로 조정합니다. */
    width: 100%;
  }
  .button-group3{
    top:51%;
  }
}
@media (min-device-width: 768px) and (max-device-width: 1200px) {
  .button-group3 button {
    margin-top: 7%;
    font-size: 22px;
    border: 0;
    width: 45%;
    padding: 20px 40px;
    font-size: 10px;
    
  }
}
.button-group3 button:hover {
    background-color: white; /* 마우스 오버 시 배경색을 하얀색으로 변경 */
    color:black;
  }
  .button-group3 button.active {
    background-color: white;
    color: black;
  }



.App table{
    width: 100% !important; 
    font-size: 25px;
}
.App button{
  padding: 20px 20px;
  font-size: 15px;
  background-color: black !important;
  color: white !important;
  position: relative;
}

.App button:hover{
  background-color: rgb(50, 195, 224) !important;
  color: black !important;
}