.page2_index
{
    background-image: url("page2-1_back.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 65vh;
    position: relative; /* 배경 사진을 기준으로 button-group을 배치하기 위해 상대적 위치로 설정 */
}
.page2_index h9 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  letter-spacing: 10px;
}
@media (min-device-width: 1920px) and (min-device-height: 1440px) {
  .page2_index h9  {
    font-size: 80px; /* 원하는 위치로 버튼 위치를 수정합니다. */
  }
}
@media (max-width: 767px) {
  .page2_index h9 {
 font-size: 30px;
  }
}
.page2_index h1{
    text-align: center;
    font-size: 60px;
}
.page2_index p{
    text-align: center;
    font-size: 40px;
}
.organization-image{
    width: 100%;
}
.button-group2 {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; /* 그리드 컨테이너의 너비를 조정 */
  top: 85.5%;
}
@media (min-device-width: 1920px) and (min-device-height: 1440px) {
  .button-group2{
    top: 87.5%; 
  }
}
@media (max-width: 767px) {
  .button-group2{
 top: 80%;
  }
}
.button-group2 .button-row2 {
  display: grid;
  grid-template-columns: repeat(9, 1fr); /* 4개의 열로 그리드 설정 */
  justify-items: center; /* 버튼을 수평으로 가운데 정렬 */
}
.button-group2 button {
  font-size: 20px;
  width: 100%; /* 버튼 요소의 5비를 조정 */
  padding: 5px 20px;
  transition: background-color 0.3s ease;
  display: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: none; /* 테두리 제거 */
  outline: none; /* 테두리 제거 */
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* 검은색 배경에 투명도 설정 */
  margin-bottom: 15%;
}
@media (min-device-width: 1920px) and (min-device-height: 1440px) {
  .button-group2 button {
    font-size: 30px;
    padding: 10px 20px; 
  }
}
@media (max-width: 767px) {
  .button-group2 button {
 font-size: 10px;
 padding: 5px 10px;
  }
}
@media (min-device-width: 768px) and (max-device-width: 1200px) {
  .button-group2 button {
    font-size: 12px;
    
  }
}
.button-group2 button span {
  margin-top: 10px; /* 텍스트와 아이콘 사이의 간격 설정 */
}

.button-group2 button:hover {
  background-color: white;
  color: black;
}

.button-group2 button.active {
  background-color: white;
  color: black;
}
.show2{
  left:3%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.show2 > div {
  animation: fadeIn 1s ease-in-out;
}

.divider1
{
  margin-bottom: 5%;
  width: 100%;
  height: 1px;
  background-color: black;
}
